@import "~normalize.css/normalize.css"

html
  box-sizing: border-box
  -webkit-overflow-scrolling: touch
  height: 100%

body
  margin: 0
  height: 100%
  background: #101214
  font-family: Inter,Avenir,Helvetica,Arial,sans-serif

a
  color: #CFD8DC
