<!DOCTYPE html>
<html lang="en">
  <head>
    <title>See Vechain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-control" content="no-cache">
  </head>
  <body>
    <noscript>
      <div class="noscript-error">
        <div class="fakeLayout-sidebar"></div>
        <div class="fakeLayout-content">
          <p class="you-must">You must enabled javascript in order to use See Vechain</p>
          <p class="can-do">You can do this in <a href="http://enable-javascript.com/">your browser settings</a>.</p>
        </div>
      </div>
    </noscript>
  </body>
</html>
