.Transaction
  background: rgb(8,0,136)
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  color: white
  transition: transform 1s ease-out, opacity 500ms
  opacity: 1
  position: absolute
  top: 50%
  right: 50%
  font-size: 20px
  box-sizing: border-box
  box-shadow: 0 0 3px 1px #fff, 0 0 5px 2px #f0f, 0 0 4px 3px #0ff
  white-space: nowrap
  display: flex
  justify-content: center
  will-change: transform
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  -webkit-transform-style: preserve-3d
  -webkit-font-smoothing: subpixel-antialiased
  &-contract
    font-size: 14px
