@import "../../style"

.Transaction
  background: $background-color
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  color: white
  opacity: 1
  position: absolute
  top: 50%
  right: 50%
  font-size: 20px
  box-sizing: border-box
  white-space: nowrap
  display: flex
  justify-content: center
  will-change: transform
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  -webkit-transform-style: preserve-3d
  -webkit-font-smoothing: subpixel-antialiased
  &:hover
    background: lighten($background-color, 2%)
    box-shadow: 0 0 1px 1px #fff, 0 0 2px 1px #0ff
  &-contract
    font-size: 12px
