.StatsModal
  &-serverTime
    font-size: 12px
    position: absolute
    top: 3px
    left: 7px
    color: #a1a1aa
  .Modal-window
    max-width: 1200px
    @media only screen and (max-width: 600px)
      padding-top: 40px
      padding-right: 0px
      padding-left: 0px

.Slider
  display: flex
  align-items: center
  justify-content: center
  margin-top: 10px
  > label
    margin-left: 10px
