@import "../../style"

.BottomBar
  position: absolute
  bottom: 0
  border-top: 1px solid #3e4050
  width: 100%
  background: $background-color
  z-index: 2147483600
  cursor: pointer
  &:hover
    background: lighten($background-color, 1%)
    svg > circle
      fill: lighten(grey, 25%)
  svg
    position: absolute
    right: 0px
    top: 2px
  &-wrapper
    padding: 10px 20px
    display: flex
    justify-content: space-evenly
    > div
      padding: 0 10px
      text-align: center
      @media only screen and (max-width: 475px)
        font-size: 13px
  &-header
    color: $grey-text
  &-number
    transition: color 200ms
    &-changing
      color: $yellow-text
  &-vtho
    @media only screen and (min-width: 475px)
      font-size: 18px
