.TopContractsCharts
  &-chart
    margin-top: 5px
    height: 100vh
    max-height: 800px
    cursor: pointer
  .Spinner
    height: 300px
  &-ContractGroup
    .TopContractsCharts-chart
      height: auto
    &-header
      font-size: 1.5em
      text-align: center
      padding: 15px 0
  &-GroupProfile
    padding-top: 10px
    &-logoContainer
      display: flex
      justify-content: center
      margin-top: -100px
      @media only screen and (max-width: 850px)
        margin-top: -50px
    &-logo
      border-radius: 50%
      border: 2px solid black
      @media only screen and (max-width: 850px)
        height: 100px
        width: 100px
    &-banner
      width: calc(100% + 40px)
      margin-left: -20px
    &-bioAndUrl
      display: flex
      justify-content: space-between
      margin-top: -87px
      margin-bottom: 57px
      @media only screen and (max-width: 850px)
        margin-top: -43px
        margin-bottom: 11px
      @media only screen and (max-width: 650px)
        margin-top: 0
        margin-bottom: 0
        flex-direction: column
        align-items: center
        text-align: center
      > div
        width: 300px
        @media only screen and (max-width: 650px)
          width: 100%
          margin: 5px 0


